<h1>Add your own ingredients</h1>
<form method="post" action="/user/add_ingredients">
  <div>
    <label>Ingredient:</label>
    <input type="text" name="ingredient_name">
  </div>
  <div>
    <input type="submit" value="Add">
  </div>
</form>