<% if session[:error] %>
  <%= session[:error] %>
<% end %>

<% if @user && @user.errors.any? %>
  <div>
    <strong>Some issues with the signup. please fix them</strong>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Login</h1>

<form method="POST" action="/user/login">
  <p>Email: <input type="text" name="email"></p>
  <p>Password: <input type="password" name="password"></p>
  <p><input type="submit" value="Go!"></p>
</form>

<p><a href='/'>Back to Homepage</a></p>