<h1> Ingredients </h1>

<p>Please put a mark on all ingredients you wish to use or have on hand</p>
<h6> this app assumes u have salt, pepper and water on hand</h6>

<% ingredients = Ingredient.all %>
  

<form method='get' action="/results">
  <% ingredients.each do |ingredient| %>
    <input type="checkbox" name="ingredient[]" value="<%= ingredient.id %>"><%= ingredient.ingredient_name %><br>
  <% end %>
  <input type="submit" value="Search"><br>
</form>
