<h1><%= @recipe.recipe_name %></h1>

<ul>
  <% @recipe.ingredients.each do |i| %>
    <li>
      <%= i.ingredient_name %>
    </li>
  <% end %>
</ul>

<h2>
<% if !@recipe.url.nil? %>
  <a href="<%= @recipe.url %>" target="_blank">link to original recipe </a>
<% end %>
</h2>

<% if current_user %>
  <form method="post" action="/user/bookmarks/new">
    <input type='hidden' value="<%= @recipe.id %>" name='bookmark'>
    <input type='submit' value='bookmark'>
  </form>
<% end %> 

<p><a href='/'>Back to Homepage</a> or <a href='/ingredients'>Back to ingredients list</a></p>

