<h1>Recipe results</h1>
 <% @recipes.each do |recipe| %>

  <div class='results_tabs'>
    <h3><a href="/recipe/<%= recipe.id %>"><%= recipe.recipe_name %></h3>
  </div>
  <hr>
<% end %>

<p><a href='/'>Back to Homepage</a></p>